@model Book_shop2.Models.user


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="display: flex; justify-content: center">Новый пользователь</h2>
<div style="display: flex; justify-content: center; align-items: center">
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name, "Имя пользователя")
        ;
        <br/>
        @Html.EditorFor(model => model.Name)
        ;
        <br/><br/>
        @Html.LabelFor(model => model.Role, "Должность")
        ;
        <br/>
        @Html.DropDownListFor(model => model.Role, new SelectList( new string[]{"Администратор", "Работник магазина"}));
        ;
        <br/><br/>
        @Html.LabelFor(model => model.Email, "Электронная почта")
        ;
        <br/>
        @Html.EditorFor(model => model.Email)
        ;
        <br/><br/>
        @Html.LabelFor(model => model.Password, "Пароль")
        ;
        <br/>
        @Html.PasswordFor(model => model.Password)
        ;
        <br/><br/>
        @Html.LabelFor(model => model.Activity, "Статус")
        ;
        <br/>
        @Html.DropDownListFor(model => model.Activity, new SelectList( new string[]{"Работает", "Не работает"}));
        <br/><br/>
        <input type="submit" class="btn btn-primary" value="Добавить"/>
                                                                          
    }
</div>


