@using Microsoft.CodeAnalysis.CSharp.Syntax
@model Book_shop2.ViewModels.EditUserModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        body {
            background-color: #f5f5f5;
        }
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
    </style>
</head>

<body class="text-center">
<h1>Редактирование пользователя</h1>
<div class="form-signin">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
    
        // Редактирование имени пользователя
        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Имя пользователя")
    
            <br/>
            @Html.TextBoxFor(model => model.Name, new {@class="form-control"})
    
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    
    
        // Редактирование пароля 
        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Пароль")
        
            <br/>
            @Html.PasswordFor(model => model.Password, new {@class="form-control"})
    
            @Html.ValidationMessageFor(model => model.Password)
        </div>
    
    
        // Редактирование электронной почты
        <div class="form-group">
            @Html.LabelFor(model => model.Email, "Электронная почта")
        
            <br/>
            @Html.TextBoxFor(model => model.Email, new {@class="form-control"})
        
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    
    
        // Редактирование статуса
        <div class="form-group">
            @Html.LabelFor(model => model.Activity, "Статус")
        
            <br/>
            @Html.DropDownListFor(model => model.Activity, new SelectList(new string[] {"Работает", "Не работает"}), 
                new {@class="form-control"})
        
            @Html.ValidationMessageFor(model => model.Activity)
        
        </div>
    
    
        // Редактирование должности
        <div class="form-group">
            @Html.LabelFor(model => model.RoleId, "Должность")
        
            <br/>
            @Html.DropDownListFor(model => model.RoleId, new SelectList(Model.Roles, "Value", "Text"), new {@class="form-control"})
        
            @Html.ValidationMessageFor(model => model.RoleId)
    
            <br/>
        </div>
    
        <div class="form-group">
            <input type="submit" class="btn btn-success btn-block" value="Изменить"/>
        </div>
    }
</div>

@section scripts{

    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
}
</body>