@model Book_shop2.Models.provider

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: #f5f5f5;
    }
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
</style>
<body class="text-center">
<h2 style="display: flex; justify-content: center">Новый поставщик</h2>
<div class="form-signin">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    // Редактирование имени пользователя
    <div class="form-group">
        @Html.LabelFor(model => model.Name, "Имя пользователя")
        @Html.TextBoxFor(model => model.Name, new {@class="form-control"})
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    
    
    // Редактирование города
    <div class="form-group">
        @Html.LabelFor(model => model.City, "Город")
        @Html.TextBoxFor(model => model.City, new {@class="form-control"})
        @Html.ValidationMessageFor(model => model.City)
    </div>
    
    
    // Редактирование электронной почты
    <div class="form-group">
        @Html.LabelFor(model => model.Email, "Электронная почта")
        @Html.TextBoxFor(model => model.Email, new {@class="form-control"})
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    
    
    // Редактирование телефона
    <div class="form-group">
        @Html.LabelFor(model => model.Phone, "Телефон")
        @Html.TextBoxFor(model => model.Phone, new {@class="form-control"})
        @Html.ValidationMessageFor(model => model.Phone)
    </div>
    
    <div class="form-group">
        <input type="submit" class="btn btn-success btn-block" value="Добавить"/>
    </div>
}
</div>

@section scripts{

    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
}

</body>