@model IEnumerable<Book_shop2.Models.book>
@{
    //ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>Книжный магазин "Книголюб"</title>
</head>
<body>
<h3>Книги</h3>
<table class="table table-striped">
    <tr>
        <td>Имя</td>
        <td>Автор</td>
        <td>Жанр</td>
        <td>Цена</td>
        <td>Год</td>
        <td></td>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.name</td>
            <td>@book.author</td>
            <td>@book.genre</td>
            <td>@book.price</td>
            <td>@book.year</td>
            <td><a href="~/Home/Buy/@book.id">Купить</a></td>
        </tr>
    }
</table>
</body>
</html>
