@using Microsoft.EntityFrameworkCore
@model IEnumerable<Book_shop2.Models.book>
@{
    //ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<html>
<head>
    <title>Книжный магазин "Книголюб"</title>
    <script src="lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
<h3>Книги</h3>
<table class="table table-striped">
    <tr>
        <td>Имя</td>
        <td>Автор</td>
        <td>Жанр</td>
        <td>Цена</td>
        <td>Год</td>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.name</td>
            <td>@book.author</td>
            <td>@book.genre</td>
            <td>@book.price</td>
            <td>@book.year</td>
        </tr>
    }
</table>
</body>
</html>
