@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Статистики</title>
</head>
<body>
<div>
    <h3>Статистика по сотрудникам</h3>
</div>

<table class="table table-striped">
    <tr>
        <td>Имя</td>
        <td>Количество продаж</td>
        <td>Количество заказов</td>
        <td>Количество успешных</td>
        <td>Процент успешных заказов, %</td>
    </tr>
    @foreach (var statistics in ViewBag.stuffStatistics)
    {
        <tr>
            <td>@statistics.Name</td>
            <td>@statistics.PurchasesCount</td>
            <td>@statistics.OrdersCount</td>
            <td>@statistics.SuccessOrdersCount</td>
            <td>@statistics.OrdersPercent</td>
        </tr>
    }
</table>
</body>
</html>
