@model IEnumerable<Book_shop2.Models.supply>
@{
    //ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>Список поставок</title>
</head>
<body>
<div>
    <h3>Поставки</h3>
</div>
<div style="position: fixed; top: 67px; right: 200px;">
    <a href="../Home/AddSupply" type="button" class="btn btn-success">Добавить поставку</a>
</div>
<table class="table table-striped">
    <tr>
        <td>Поставщик</td>
        <td>Книга</td>
        <td>Количество</td>
        <td>Дата</td>
        <td>Цена</td>
        <td>Стоимость</td>
    </tr>
    @foreach (var supply in Model)
    {
        <tr>
            <td>@supply.Provider_id</td>
            <td>@supply.Book_id</td>
            <td>@supply.Count</td>
            <td>@supply.Date</td>
            <td>@supply.Price</td>
            <td>@supply.Cost</td>
        </tr>
    }
</table>
</body>
</html>
