@model IEnumerable<Book_shop2.Models.supply>
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<html>
<head>
    <title>Список поставок</title>
</head>
<body>
<div>
    <h3>Поставки</h3>
</div>
<div style="position: fixed; top: 67px; right: 200px;">
    <a href="../Supply/AddSupply" type="button" class="btn btn-success">Добавить поставку</a>
</div>
<table class="table table-striped">
    <tr>
        <td>Поставщик</td>
        <td>Книга</td>
        <td>Дата</td>
        <td>Цена</td>
        <td>Количество</td>
        <td>Стоимость</td>
    </tr>
    @foreach (var supply in ViewBag.Supplies)
    {
        <tr>
            <td>@supply.ProviderName</td>
            <td>@supply.BookName</td>
            <td>@supply.Date</td>
            <td>@supply.Price</td>
            <td>@supply.Count</td>
            <td>@supply.Cost</td>
        </tr>
    }
</table>
</body>
</html>
